<div class="rpalive-page">
  <section class="banner">
    <div class="banner-wraps">
      <div class="container-wrap">
        <div class="banner-wrap-inner">
          <h1>WHAT IS ROBOTIC PROCESS AUTOMATION (RPA)?</h1>
          <h2 class="subhead">RPA is a Digital Workforce of software robots that can execute any business process.
            Period.</h2>
        </div>
        <!-- <div class="morebtn"><a href="/lp/rpa-editions-comparison">TRY RPA FREE</a><a href="/request-live-demo">Request
            Live Demo</a></div> -->
      </div>
    </div>
  </section>
  <section class="rpaproductivity-sec">
    <div class="container-wrap">
      <h3>WHAT IS RPA?</h3>
      <p>RPA is simple—and powerful—business process automation software. Robotic Process Automation enables you
        with tools to create your own software robots to automate any business process. Your "bots" are
        configurable software set up to perform the tasks you assign and control.</p>
    </div>
  </section>
  <section class="rpaproductivity-sec">
    <div class="container-wrap">
      <h3>BOTS by functional area</h3>
      <div class="row">
        <div class="col-sm-3">
          <div class="rpaproductivity-box"><img alt="reduce icon" src="../../assets/images/task-bot.png">
            <h4>Task Bot</h4>
            <p>
            </p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="rpaproductivity-box"><img alt="reduce icon" src="../../assets/images/conersation-bot.png"
              style="max-width: 67%;">
            <h4>Conversation bots</h4>
            <p></p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="rpaproductivity-box"><img alt="reduce icon" src="../../assets/images/info-bot.png"
              style="max-width: 54%">
            <h4>Informational bots</h4>
            <p>
            </p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="rpaproductivity-box"><img alt="reduce icon" src="../../assets/images/voice-bot.png"
              style="max-width: 54%">
            <h4>Voice Bots</h4>
            <p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="rpaproductivity-sec">
    <div class="container-wrap">
      <h3>Request a live demo</h3>
      <div class="livedemoform">
        <div class="form-group ">
          <!-- <label for="exampleInputEmail1">First Name</label> -->
          <input type="firstname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="margin-top: 15px;"
            placeholder="First Name">
        </div>
        <div class="form-group">
          <!-- <label for="exampleInputPassword1">Last Name</label> -->
          <input type="lastname" class="form-control" id="exampleInputPassword1" placeholder="Last Name">
        </div>
        <div class="form-group">
          <!-- <label for="exampleInputPassword1">Email</label> -->
          <input type="lastname" class="form-control" id="exampleInputPassword1" placeholder="Email">
        </div>
        <div class="form-group">
          <!-- <label for="exampleInputPassword1">Phone</label> -->
          <input type="lastname" class="form-control" id="exampleInputPassword1" placeholder="Phone">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <span class="form-check-label" for="exampleCheck1" style="color: #333; font-size: 14px; font-weight: 400; font-family: museo_sans, verdana, arial;">
            I agree the terms and conditions</span>
        </div>
        <div class="center">
          <button type="submit" class="btn btn-primary ">Request a demo</button>
        </div>
      </div>
    </div>
  </section>

</div>